<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>
    <div>demo_rendertemplate_w_param.html</div>
    <br>
    <div>SOME_GLOBAL_VAR = {{ SOME_GLOBAL_VAR }}</div>
    <div>some_local_var  = {{ some_local_var }}</div>
</body>
</html>
