<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>vuihoc.html  - Hello, World vuihoc!</p>
    <div>chuongtrinh={{ chuongtrinh }}</div>
    <div>{{ temp }}</div>
    <br>
    <div>DIEM={{ d }}</div>
    <div>DIEM={{ DIEM }}</div>
</body>
</html>